.title {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title .underline {
  width: 120px;
  height: 5px;
  background: rgb(33, 59, 88);
  margin: 10px 0;
}
